@import url(https://fonts.google.com/specimen/Lato);
@import url(https://fonts.google.com/specimen/Raleway);

body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

h1 h2 h3{
  font-weight: 500;
}

.container{
  max-width: 1160px;
  margin: 50px auto;
  background-color: white;
  border: 1px solid black;
}

.container__header{
background-color: #782221;
padding: 20px 0;
text-align: center;
color: white;
}

.container__header img{
object-fit: cover;
width: 200px;
height: 200px;
border-radius: 50%;
margin-bottom: 15px;
box-shadow: 0 0 30px #2c1d27,
15px 0 30px #2c1d27,
-15px 0 30px #2c1d27;
}

img:hover{
cursor:zoom-in;
opacity: 0.75;
}



.container__header h1{
margin: 0;
font-size: 24px;
font-weight: 700;
}

.container__header h2{
margin-top: 5px;
font-size: 18px;
font-weight: 400;
}