@import url(https://fonts.google.com/specimen/Lato);
@import url(https://fonts.google.com/specimen/Raleway);

body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

h1 h2 h3{
  font-weight: 500;
}

.container{
  max-width: 1160px;
  margin: 50px auto;
  background-color: white;
  border: 1px solid black;
}

.container__header{
background-color: #782221;
padding: 20px 0;
text-align: center;
color: white;
}

.container__header img{
object-fit: cover;
width: 200px;
height: 200px;
border-radius: 50%;
margin-bottom: 15px;
box-shadow: 0 0 30px #2c1d27,
15px 0 30px #2c1d27,
-15px 0 30px #2c1d27;
}

img:hover{
cursor:zoom-in;
opacity: 0.75;
}



.container__header h1{
margin: 0;
font-size: 24px;
font-weight: 700;
}

.container__header h2{
margin-top: 5px;
font-size: 18px;
font-weight: 400;
}

.container__main{
  display: flex;
  flex-wrap: wrap;

}

.container__info{
  display: flex;
  justify-content: space-between;
  background-color: #2c1d27;
  color: white;
  padding: 10px 20px;
  
}

a{
  text-decoration: none;
  color:white;  
}

a:hover{
  text-decoration: underline;
}

.container__info p{
  margin: 0;
  flex: 1;
  text-align: center;
}

section{
  margin-bottom: 30px;
}

.container__main__section-left{
  flex: 1;
  background-color: #782221;
  padding-left: 0;
  padding-right: 20px;
  color: white;
  font-size: 16px;
}

.container__main__section-left p{
  text-align: left;
  padding-left: 10px;

}

.container__main__section-right{
  flex: 2;
  padding: 0 20px 20px;
  font-size: 16px;
}

.container__main__section-right h3{
border-left: 5px solid black;
padding-bottom: 10px;
}

.container__main__section-right h3:hover{
border-right: 5px solid #782221;
}

.container__main__section-title{
background-color: #dbc2a4;
color: black;
padding: 10px 0;
font-weight: bold;
text-align: left;
letter-spacing: 1px;
padding-left: 5px;
}

.container__footer{
  background-color: #782221;
  padding: 20px;
  text-align: center;

}

.container__footer__rs-icones{
  margin: 0 10px;
  color: white;
  width: 30px;
  height: 30px;
}

.container__footer p{
  color: white;
  font-size: 14px;
}

